/*=================================

Portfolio CSS

=================================*/

* {
	font-family: "Open Sans"; "Helvetica", "Arial", "sans-serif";
}

html {
	background-color: #efefef;
}


/*=================================

NAV BAR

=================================*/
.navbar {
	display: flex;
	height: 70px;
	background-color: #000;
	opacity: .85;
	position: fixed;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}

.nav {
	height: 70px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
	
}

.nav img {
	height: 80px;
	width: 80px;
}

.nav h2 {
	background-image: url(../img/nj_logo.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 50px;
	font-size: 2.2em;
	
} 


.nav ul {

}
.nav ul li {
	display: inline-block;
	font-size: 1.2em;
	padding: 0 2px;
	margin: 0 2px;
}

.nav ul li:hover {
	margin-top: 2px;
	border-bottom: 2px solid red;
}

/*=================================

CONTAINER

=================================*/

.container {
	width: 75%;
	margin: 0 auto;
}

/*=================================

JUMBOTRON

=================================*/

.jumbotron {
	padding-top: 70px;
	height: 700px;
	background-image: url(../img/hipster_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron img {
	height: 200px;
	width: 200px;
	border-radius: 100%;
	background-color: aquamarine;
}

.jumbotron h1 {
	font-size: 5em;
	margin: 0;
}

.jumbotron h3 {
	font-size: 2em;
	margin: 5px;
}


/*=================================

FONTS

=================================*/
.subHeader{
	font-size: 2em;
}

.subtext {
	font-size: 1.4em;
	font-weight: lighter;
}

.subCard {
	background-color: cornsilk;
	border-radius: 15px;
	border-bottom: 5px solid gray;
	padding: 1.5%;
}

/*=================================

ABOUT

=================================*/

.about-info {
	display: flex;
	background-color: cornsilk;
	border-radius: 15px;
	border-bottom: 5px solid gray;
	padding: 1.5%;
}

.item {
	flex-grow: 1;
	margin: 1.5%;
	flex: 1;
}

.about-info: nth-child(odd) {
	
}


/*=================================

PROJECTS

=================================*/

.projects-content {
	display: flex;
	justify-content: space-around;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: cornsilk;
	border-radius: 15px;
	border-bottom: 5px solid gray;
	align-items: center;
	padding: 1.6%;
}

.button {
	font-family:  "Open Sans";
	font-weight: 800;
	font-size: 2.2em;
	padding: 0 20px;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid red;
}

.button:hover {
	border: none;
	margin-top: 4px;
}

.gear:hover {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*=================================

BLOG

=================================*/


/*=================================

CONTACT

=================================*/

.contact-card {
	background-color: cornsilk;
	border-radius: 15px;
	border-bottom: 5px solid gray;
	align-items: center;
	padding: 1.6%;
	display: flex;
	flex-wrap: wrap;
}

/*=================================

FOOTER

=================================*/

.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: cornsilk;
	
}

.footer ul {
}
.footer li {
	display: inline;
	

