/*=================================

Portfolio CSS

=================================*/

* {
	font-family: "Open Sans"; "Helvetica", "Arial", "sans-serif";
}


/*=================================

NAV BAR

=================================*/

.nav {
	display: flex;
	text-align: center;
	justify-content: space-between;
	height: 100px;
	background-color: #000;
	opacity: .85;
	color: #fff;
	position: fixed;
}

.nav h2 {
	background-image: url(../img/nj_logo.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 60px;
}
.web-name {
	
}

.web-name::before {
	bac
}

.nav ul li {
	display: inline-block;
}

/*=================================

JUMBOTRON

=================================*/

.jumbotron {
	margin-top: 100px;
}